@tailwind base;
@tailwind components;
@tailwind utilities;
/* latin */
@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/coco-gothic.regular.woff2') format('woff2');;
}
@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/coco-gothic.bold.woff2') format('woff2');;
}
@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/coco-gothic.bold.woff2') format('woff2');;
}
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/helvetica-bold.woff2') format('woff2');;
}
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/helvetica.woff2') format('woff2');;
}
